ion-content.background{
    
    --background: url('../../assets/img/fondologin.png');
}
.cardlogin {
    margin-bottom: 50px; 
    margin-top: 80‒; 
    margin-top: 80px;

}
.transp{
    background-color: transparent;
}