<ion-header>
  <!-- The core Firebase JS SDK is always required and must be listed first -->

  <!-- 
  <ion-toolbar color="pink">
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="background">

  <ion-img src="assets/img/logoGeolize.png"
    style="margin: auto; max-width: 150px; max-height: 150px; margin-top: 20%; margin-bottom: 20%"></ion-img>
  <ion-card>




    <ion-list lines="none" class="transp">
      <ion-item  class="loginitm">
        <ion-label class="loginlbl" position= "floating"> Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item  class="loginitm">
        <ion-label class="loginlbl" position= "floating"> Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="pass" name="pass"></ion-input>
      </ion-item>
      <ion-button color="dark" expand="full" (click)="authUsuario()" style="min-height: 50px;">Ingresar</ion-button>
    </ion-list>

    <!-- <ion-footer>
      <ion-toolbar>
        <ion-title>Querity®</ion-title>
      </ion-toolbar>
    </ion-footer> -->
