// ion-content.background{
//     --color: black;
//     --background: url(../../assets/img/bg-gif.gif) 0 0/100% 100% no-repeat;
// }
.cardlogin {
    margin-bottom: 50px; 
    margin-top: 80‒; 
    margin-top: 80px;

}