ion-content.background{
    
    --background: url('../../assets/img/fondologin4.png');
    //background-size: cover;
    //min-height:200px;
    //display:block;
//     height:100%;
//     min-height:100px;
//    width:100%;
//    min-width:100px;


}
.cardlogin {
    margin-bottom: 50px; 
    margin-top: 80‒; 
    margin-top: 80px;

}
.transp{
    background-color: transparent;
}

.loginlbl {
   
    margin-left: 20px;
}

.loginitm {
    background-color: transparent;
    margin-bottom: 10%
}