<ion-tabs>

  <ion-tab-bar slot="bottom"  color="blank">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  color="blank">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Archivo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  color="blank">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
