<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Geolize
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card"  color="dark">
      <img src="assets/img/turismo.png" />
      <ion-card-header>
        <ion-card-subtitle>Bienvenido</ion-card-subtitle>
        <ion-card-title>Nombre usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Selecciona tu viaje para comenzar la experiencia.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Viajes disponibles</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="globe"></ion-icon>
        <ion-label>Cajon del maipo</ion-label>
        <ion-button (click)="routingAngular()">Iniciar</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="globe"></ion-icon>
        <ion-label>San Pedro de Atacama</ion-label>
        <ion-button [routerLink]="['/pages']">Iniciar</ion-button>
      </ion-item>

    </ion-list>
</ion-content>
