<ion-header>
  <ion-toolbar color="pink">
    <ion-title>
      Geolize
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="light">
    <h3>Tus viajes</h3>
  </ion-item>
  <ion-item (click)="routingAngular(item.id)" *ngFor="let item of viajes">
    <ion-card class="welcome-card">


      <img src="assets/img/salardetara.jpg">

      <ion-card-content>
        <ion-card-title>
          {{ item.nombreViaje }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ item.duracion }}
        </ion-card-subtitle>

      </ion-card-content>


    </ion-card>
  </ion-item>

  <ion-item color="light">
    <h3>Recomendados</h3>
  </ion-item>
  <ion-list>
    <!-- <ion-list-header>
          <ion-icon name="search" color="medium"></ion-icon>
          <ion-input type="search" placeholder="Buscar viajes" color="medium"></ion-input>
        </ion-list-header> -->
    <ion-item>
      <!-- <ion-icon slot="start" color="medium" name="globe"></ion-icon> -->
      <ion-label>
        <h2>Cajon del maipo</h2>
        <ion-label color="medium">
          <h3>Embalse del Yeso</h3>
        </ion-label>


      </ion-label>
      <ion-thumbnail>
        <img src="assets/img/cajon-del-maipo.jpg">
      </ion-thumbnail>
      <!-- <ion-button (click)="routingAngular()">Iniciar</ion-button> -->
    </ion-item>
    <ion-item>
      <!-- <ion-icon slot="start" color="medium" name="globe"></ion-icon> -->
      <ion-label>
        <h2>San Pedro de Atacama</h2>
        <ion-label color="medium">
          <h3>Salar de Tara</h3>
        </ion-label>
      </ion-label>
      <ion-thumbnail>
        <img src="assets/img/salardetara.jpg">
      </ion-thumbnail>
      <!-- <ion-button [routerLink]="['/pages']">Iniciar</ion-button> -->
    </ion-item>
    <ion-item>
      <!-- <ion-icon slot="start" color="medium" name="globe"></ion-icon> -->
      <ion-label>
        <h2>San Pedro de Atacama</h2>
        <ion-label color="medium">
          <h3>Salar de Tara</h3>
        </ion-label>
      </ion-label>
      <ion-thumbnail>
        <img src="assets/img/salardetara.jpg">
      </ion-thumbnail>
      <!-- <ion-button [routerLink]="['/pages']">Iniciar</ion-button> -->
    </ion-item>
    <ion-item>
      <!-- <ion-icon slot="start" color="medium" name="globe"></ion-icon> -->
      <ion-label>
        <h2>San Pedro de Atacama</h2>
        <ion-label color="medium">
          <h3>Salar de Tara</h3>
        </ion-label>
      </ion-label>
      <ion-thumbnail>
        <img src="assets/img/salardetara.jpg">
      </ion-thumbnail>
      <!-- <ion-button [routerLink]="['/pages']">Iniciar</ion-button> -->
    </ion-item>
    <ion-item>
      <!-- <ion-icon slot="start" color="medium" name="globe"></ion-icon> -->
      <ion-label>
        <h2>San Pedro de Atacama</h2>
        <ion-label color="medium">
          <h3>Salar de Tara</h3>
        </ion-label>
      </ion-label>
      <ion-thumbnail>
        <img src="assets/img/salardetara.jpg">
      </ion-thumbnail>
      <!-- <ion-button [routerLink]="['/pages']">Iniciar</ion-button> -->
    </ion-item>
  </ion-list>

</ion-content>