<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
    <div class="header">
      <div style="display: flex">
        <ion-thumbnail class="perfil" slot="start" style="margin: auto; margin-top: 30px"> 
          <img src="../../assets/img/socialicon.jpg">
          
        </ion-thumbnail>
        <br>
        <ion-label color="light" style="margin: auto; margin-right: 75px;  margin-top: 58px">
          <h1 style="text-shadow: 2px 2px 2px gray;">{{ name }}</h1>
        </ion-label>
      
      </div>
     
    </div>
  
  <ion-list lines="none">
    <ion-list-header>
      <ion-label></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>Nombre</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium"></ion-icon>
        <ion-label>{{ name }}</ion-label>
      </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="call"></ion-icon>
      <ion-label>Telefono</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium"></ion-icon>
        <ion-label>{{ phoneNumber }}</ion-label>
      </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium"  name="mail"></ion-icon>
      <ion-label>Email</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium"></ion-icon>
        <ion-label>{{ email }}</ion-label>
      </ion-item>
    <ion-button color="blank" expand="full" class="btn">Cerrar sesion</ion-button>
    
  </ion-list>

</ion-content>
